<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark aa" style="width: 280px;height: 866px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">RhEmployee</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a 
        routerLink="/" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Home
      </a>
    </li>
    <li class="nav-item" *ngIf="isEmployee() && authService.isLoggedIn()">
      <a 
        [routerLink]="'/demande-leave'" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        demande Leave
      </a>
    </li>
    <li class="nav-item" *ngIf="isRH()  && authService.isLoggedIn()">
      <a 
        [routerLink]="'/leave-list-rh'" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        List demande Leave
      </a>
    </li>
    <li class="nav-item" *ngIf="isRH()  && authService.isLoggedIn()">
      <a 
        [routerLink]="'/employees'" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Employees List
      </a>
    </li>
    <li class="nav-item" *ngIf="isEmployee()  && authService.isLoggedIn()">
      <a 
        [routerLink]="'/addtimesheet'" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#addtimesheet"></use>
        </svg>
        Add Your Timesheet 
      </a>
    </li>
    <li class="nav-item" *ngIf="isEmployee()  && authService.isLoggedIn()">
      <a 
        [routerLink]="'/list-leave'" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        List demande Leave
      </a>
    </li>
   
   
  </ul>
<hr>

<div *ngIf="!authService.isLoggedIn()" class="position-relative">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="width: 200px;"
    routerLink="/login" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{ exact: true }"
    class="btn btn-dark text-white">
    Login
  </a>
</div>

  <div *ngIf="authService.isLoggedIn()"
      class="d-flex align-items-center text-white text-decoration-none"
      style="cursor: pointer;"
      (click)="dropdownOpen = !dropdownOpen">
      <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>{{ user.name }}</strong>
      <span class="ms-2">&#9662;</span> <!-- Down arrow -->
  
      <div style="position: relative;">

      
        <ul *ngIf="dropdownOpen" 
            class="dropdown-menu dropdown-menu-dark text-small shadow show"
            style="position: absolute; left: 0; bottom: 100%; transform: translateY(-5px); z-index: 9999; min-width: 160px;">
          <li><a class="dropdown-item" [routerLink]="'/profil'">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Sign out</a></li>
        </ul>
      
      </div>
      
  </div>
  
  











